arabic-reshaper
asgiref
asn1crypto
bcrypt
certifi
cffi
cryptography
dj-database-url
Django==3
django-bootstrap3
django-mail-templated
django-utils-six
django-widget-tweaks
gunicorn
html5lib
idna
invoke
lxml
packaging
paramiko
pillow
pycparser
PyNaCl
python-decouple
reportlab
requests
six
sqlparse
svglib
webencodings
xhtml2pdf
